
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans',sans-serif;
}
.banner {
    width: 100%;
    max-width: 1320px;
    display: block;
}

.logo {
    text-align: center;
    color: #2F411B;
    padding-left: 2%;
}

.header {
    text-align: center;
}

.navigation {
    position: fixed;
    top:0;
    width: 100%;
    height: 7%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    display: flex;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 1px 2px #00000026;

}

.navigation .header,
.navigation .navbar2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header li {
    display: inline;
    padding: 10px;
    align-items: flex-end;
}

.navigation li a {
    text-decoration: none;
    text-align: center;
    color: #2F411B;
    border-bottom: 3px solid transparent;
}

.navigation li a:hover {
    color: #265122;
    border-bottom: 3px solid #265122;
    transition: .5s;
}

.navigation a {
    text-decoration: none;
    font-weight: 900;
}

.title h1{
    color:#265122;
    text-align: center;
    margin-top:50px;
    
}

.productGallery{
    background-color: whitesmoke;;
}

.productGallery h1{
    text-align: center;
    color:#2F411B;
    padding:10px;
}


div.gallery {
    border: 1px solid #ccc;
    margin-bottom:10px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    box-shadow: 0 1px 2px #00000026;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size: 15px;
    font-weight:bold;
    color: #265122;
  }
  
  * {
    box-sizing: border-box;
  }

  div.scroll-container {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }

  div.scroll-container img {
    padding: 10px;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  .productrow {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    margin-top:30px;
    margin-bottom: 30px;
}

.column {
    flex: 1; 
    padding: 5px;
    box-sizing: border-box;
}

.column img {
    width: 100%;
    height: auto;
    display: block;
}


.footer {
    background-color: #2F411B;
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    left: 0;
    right: 0;
    bottom:0;

}

.footer .content li{
    list-style-type: none;
    margin-bottom: 15px;
}

.footer .content h4 {
    margin-bottom: 1.5rem;
    color: white;
    font-size: 20px;
}

.footer .content li a{
    text-decoration: none;
    color:beige;
    transition: all .40s ease;
}


.footer .content li a:hover{
    color: #FECF3F;
}

.footer .icons{
    font-size: 24px;
}
.footer .icons a{
    color:white;
}

.footer .copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: white;
}